
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<section class="content-info py-5" id="about">
    <div class="container py-md-5">
        <div class="text-center px-lg-5">
            <div class="title-desc text-center px-lg-5">
                <p class="px-lg-5 sub-wthree">Here , you can add your project's description you want to be done ! . so .. we'll find a project manager , leader and team to meet you and accomplish it for you .. </p>
            </div>
        </div>
    </div>
</section>
<section class="gallery py-5" id="gallery">
    <div class="container py-md-5">

        <h3 class="title-w3pvt text-center mb-5">projects</h3>
        <div class="gallery-content">
            <div class="row">
            </div>
        </div>
    </div>
</section>
